.column {
    float: left;
    width: 50%;
}

body {background-color: rgb(39, 39, 39);}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.worker {
    padding: 10%;
}