.column {
    float: left;
    width: 50%;
}

.left {
    width: 20%;
    padding: 25px;
}

.right {
    width: 70%;
}

body {
    background-color: rgb(54, 54, 54)
}

h3 {
    color: whitesmoke;
    font-family: "Lucida Sans Unicode";
}

p  {
    color: whitesmoke;
    font-family: "Lucida Sans Unicode";
    font-size: 0.65em;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.workerRight {
    padding: 5px
}